.galeria_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 3px  solid #000;
    width: 80px;
    height: 90px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
}

.galeria_card .img{
    width: 55px;
    height: 60px;
}

.galeria_card .title {
    margin-top: 5px;
    font-size: 16px;
}

.wrapper_card{
    display:flex;
    flex-wrap: wrap;
    padding-left: 26px;
}

