@media print {
    /* Esconda o conteúdo que não queremos imprimir */
    .main_header, .main_footer, .div-galeria, .main_title, .styleButton, .imprimeButton{
      display: none;
    }
    .wrapper_pranchaCard, .prancha_card{
      display: flex; /* Mostra a prancha e seus cartões para impressão */
    }
    .print-card {
      background-image: linear-gradient(to right, red, yellow); /* Adapte conforme necessário */
      background-repeat: repeat-x; /* Ajuste conforme necessário */
    }
  }
  