.wrapper_galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.wrapper_galeria .cardbutton {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.wrapper_galeria .div-galeria {
    width: 370px;
    min-height: 580px;
    max-height: auto;
    text-align: center;
    border: 2px solid #000;
    background: #FFF;
    padding: 10px 20px 5px 20px;
}

.wrapper_galeria .div-cardg {
    height: 500px;
    overflow: auto;
    border: 2px solid #000;
}
.addBtngalery{
    display: flex;
    height: 30px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}
.addBtngalery:hover{
    background-color: #00FF00;
    font-weight: bold;
}

.wrapper_galeria .div-prancha {
    width: 800px;
    min-height: 580px;
    max-height: auto;
    text-align: center;
    border: 2px solid #000;
    background: #FFF;
    padding: 10px 20px;
    margin-left: 10px;
}

.div-prancha .div_title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.imprimeButton{
    display: flex;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 3px;
    align-items: center;
    justify-content: space-around;
    width: 160px;
    height: 30px;
}

.imprimeButton:hover{
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    border: 3px solid #B5B5B5;
}

@media (max-width: 500px) {
    .wrapper_galeria .project_card {
        width: 200px;
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .wrapper_galeria .project_card .icon{
        width: 170px;
        height: 170px;
    }
    
    .wrapper_galeria .project_card .title {
        margin-top: 5px;
    }

}