.main_footer {
    display: flex;
    justify-content: center;
    background-color: #00BFFF;
    color: #fff;
    border-top: 5px solid #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* .main_footer .icon {
    margin-right: 20px;
    margin-left: 20px;
} */